{% extends "professor/BaseProfessorPage.html" %}
{% load widget_tweaks %}
{% load static %}

{% block menu %}
        <div class="sidebar" data-color="black">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">

                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    <p>
                        New Question
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/Course/{{course.CourseID}}/{{course.GroupID}}/AddMultChoiceQ">Multiple Choice</a>
                    <a class="dropdown-item" href="{{request.path}}">Long Answer</a>
                    <a class="dropdown-item" href="#">Default Question</a>

                </div>


                <form action="/QuestionSearch/{{course.CourseID}}/{{course.GroupID}}" method="get">
                    <div class="input-group no-border">
                        <input name="q" type="text" value="" class="form-control" placeholder="Search Questions...">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </span>
                    </div>
                </form>

            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/Course/{{course.CourseID}}/{{course.GroupID}}">
                            <i class="now-ui-icons arrows-1_minimal-down"></i>
                            <h3>Questions</h3>
                        </a>
                    </li>

                    {% for i in course.Questions.all %}
                    {% if i.id == qid %}

                    <li class="active">
                        <a href="/Course/{{course.CourseID}}/{{course.GroupID}}/Question/{{i.id}}">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>{{i.subject}}</p>
                        </a>
                    </li>

                    {% else %}

                    <li>
                        <a href="/Course/{{course.CourseID}}/{{course.GroupID}}/Question/{{i.id}}">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>{{i.subject}}</p>
                        </a>
                    </li>

                    {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
{% endblock %}

{% block title %}
<a class="navbar-brand" href="#pablo">{{ course.Name }}</a>
<a class="navbar-brand" href="#pablo">{{ course.CourseID }}-{{course.GroupID}}</a>
{% endblock %}

{% block body%}

<div class="content">

                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">New Long Answer Question</h5>
                            </div>
                            <div class="card-body">

                                <form action="{{request.path}}" method="post" id="form1">
                                    {% csrf_token %}

                                    <div class="col-md-5 pr-1">
                                        {{ question_form.as_p}}

                                    </div>


                                    <div class="col-md-8">
                                        <button type="submit" form="form1" class="btn btn-round btn-simple">
                                            Submit
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>


</script>

{% endblock %}





<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
