{% extends "professor/BaseProfessorPage.html" %}
{% load static %}

{% block menu %}
<head>
<style>
.green_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 25px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 0px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.red_button {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 5px 25px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 0px 2px;
  cursor: pointer;
  border-radius: 5px;
}
</style>
</head>
        <div class="sidebar" data-color="black">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                    CT
                </a>
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    {{u.FirstName}}
                    {{u.LastName}}
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a onclick="window.location.href= '/student/{{user.username}}'">
                            <i class="now-ui-icons design_app"></i>
                            <p>Current Courses</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.location.href= '/archiveCourseProfessor/{{user.username}}'">
                            <i class="now-ui-icons education_atom"></i>
                            <p>Archive Courses</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="window.location.href= '/requestedCourses/{{user.username}}'">
                            <i class="now-ui-icons ui-1_check"></i>
                            <p>Requested Courses</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
{% endblock %}

{% block title %}

{% endblock %}

{% block body%}

        <!-- Editable table -->
<div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Simple Table</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Course Name
                                            </th>
                                            <th>
                                                CourseID
                                            </th>
                                            <th>
                                                GroupID
                                            </th>
                                            <th>
                                                Professor name
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th>
                                                Add Course
                                            </th>
                                            <th>
                                                Go to Course
                                            </th>
                                        </thead>

                                        <tbody>
                 {% for i in object %}

                 {% if i.Status == 'active' %}
                  <tr>
                    <td>{{i.Name}}</td>
                    <td>{{i.CourseID}}</td>
                    <td>{{i.GroupID}}</td>
                    <td>
                         {% for j in i.Professor.all %}
                        {{ j.FirstName }}  {{ j.LastName }}
                                                    <p></p>
                        {% endfor %}


                    </td>
                    <td>{{i.Status}}</td>
                    <td>
                        {% if i in u.course_set.all %}

                                 enrolled

                        {% elif i in u.not_verified.all %}
                        request pending

         {% else %}
                        <div class="text-center">
        <button class="green_button" data-toggle="modal" data-target="#modalDelete"
        >add &nbsp <i class="now-ui-icons ui-1_check"></i></button>
    </div>
                        <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">add course</h4>
            <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <p class="text-center h4">are you sure you want to add this course? </p>

          </div>
          <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">

            <button type="button" , onclick="window.location.href = '/courseadd/{{i.CourseID}}/{{i.GroupID}}/{{query}}'" class="green_button" id="btnYes" data-dismiss="modal">Yes</button>
              <button type="button" class="red_button" onclick="window.location.href = '/search/?q={{query}}'" id="btn" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

        {% endif %}
                    </td>
                      <td>
                          {% if i in u.course_set.all %}
                          <button type="button" onclick="window.location.href = '/Course/{{i.CourseID}}/{{i.GroupID}}'" class="btn btn-round btn-simple btn-icon">
                                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                                    </button>
                          {% else %}
                            not allowed
                          {% endif %}
                      </td>

                  </tr>
                 {% endif %}
                {% endfor %}

                </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

<!--Modal: modalConfirmDelete-->

{% endblock %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

