{% extends "student/BaseStudentPage.html" %}
{% load static %}

{% block menu %}
        <div class="sidebar" data-color="black">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">




                <form  action="/QuestionSearchStudent/{{cid}}/{{gid}}" method="get">
                    <div class="input-group no-border">
                        <input name="q" type="text" value="" class="form-control" placeholder="Search Questions...">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_zoom-bold"></i>
                            </span>
                    </div>
                </form>

            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/Course/{{cid}}/{{gid}}">
                            <i class="now-ui-icons arrows-1_minimal-down"></i>
                            <h3>Questions</h3>
                        </a>
                    </li>

                    {% if search_flag %}
                    {% for i in object_list %}
                                        <li>
                        <a href="/Course/{{cid}}/{{gid}}/Question/{{i.id}}">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>{{i.subject}}</p>
                        </a>
                    </li>
                    {% endfor %}
                    {% else %}
                    {% for i in course.Questions.all %}
                    <li>
                        <a href="/Course/{{cid}}/{{gid}}/Question/{{i.id}}">
                            <i class="now-ui-icons design_bullet-list-67"></i>
                            <p>{{i.subject}}</p>
                        </a>
                    </li>
                    {% endfor %}
                    {% endif %}

                </ul>
            </div>
        </div>
{% endblock %}

{% block title %}
<a class="navbar-brand" href="#pablo">{{ course.Name }}</a>
<a class="navbar-brand" href="#pablo">{{ course.CourseID }}-{{course.GroupID}}</a>
{% endblock %}

{% block body%}

<div class="content">
                <div class="row">
                    <div class="col-md-8">
                        {% if search_flag == 0 %}
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">No Question Added Yet.</h5>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>

{% endblock %}